@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* shraed style */
.primary-font-color{
    color:rgb(13, 19, 33);
    font-family: 'Azeret Mono';
}
.common-paragraph{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;

    opacity:0.7; 
}

/* navbar styles */
nav{
 
    padding: 15px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{

    text-decoration: none;
    color: inherit; /* This will make the anchor tag use the color of its parent */
}
.resume-btn{
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding:20px 26px;
    border-radius: 10px;
}
.nav-name{
    font-weight: 800;
}

/* Banner styles */
.banner{
    background-image: url("assets/Hero-bg.png");
    background-size: cover;
}  


.banner-img{
    margin-top:30px ;
    margin-bottom:32px;
    width: 440px;
    height:440px;
}

.banner-title{
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    margin:30px 400px;

}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity:0.7; 
    margin:30px 530px
   
}

.banner-btn a{
    text-decoration: none;
    color: inherit;
 

}
.banner-btn{
    padding:20px 18px;
    font-size: 18px;
    background-color:rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom:40px;
}
.banner-text{

    justify-content: center;
    text-align: center;

}

/* main styles */

.why-web-dev{
    width: 1140px;
    margin: 150px 590px;
}
.web-header h1{
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;

}
.web-header>p{
    text-align: center;
    margin-bottom: 80px;
}

.web-dev-description{
    display: flex;

    gap:75px;  
    padding: 50px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}
.web-dev-description h3{
    color: rgba(13, 19, 33, 0.7);

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;

}
.learn-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 8px 15px;
}
.learn-btn a{
    text-decoration: none;
    color: inherit;
}



/* inspiration class starts */


.inspiration{
    width: 1640px;
    margin: 150px 345px;

}
.inspiration h1{
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;

}
.inspiration p{
    text-align: center;
    margin-bottom: 10px;
    margin-right:300px;
    margin-left: 300px;
}
.video-link{
    margin-top: 50px;
    width: 1540px;
    height:700px;
    border: 1px solid rgba(13, 19, 33, 0.1);
    border-radius:25px;

}
.video-link iframe {
    padding:25px 50px;
    width: 1440px;
    height: 650px;

}


/* Current target starts */
.current-target{
    width: 1740px;
    margin: 150px 245px;

}
.current-target h1{
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;

}
.current-target >p{
    text-align: center;
    margin-bottom: 10px;
    margin-right:300px;
    margin-left: 300px;
}
.target-list{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-left:250px;


}
.target-1{
    padding:40px 20px 50px 50px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);    
    width: 300px;
    height:250px;
}
.target-2{
    padding:40px 20px 50px 50px;
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05); 
    width: 300px;
    height:250px;
}
.target-3{
    padding:40px 20px 50px 50px;
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);   
    width: 300px;
    height:250px;
}
 
.learn-more-btn{
    padding:28px 0;
    font-size: 18px;


    margin-top:20px;
}

.learn-more-btn a{

    color: rgb(13, 19, 33);
 
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* suppoert part starts */
.support{
    background-image: url("assets/handshake.jpg");
    width:1490px;
    height:334px;
    background-size: cover; 
    background-position: center;
    margin: 150px 245px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("assets/handshake.jpg");
}
.support h1{
    color:rgb(255, 255, 255);
    font-size: 32px;
    padding:30px 0;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;


}
.support p{
    color:rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
    margin-right:300px;
    margin-left: 300px;
}
input{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    text-align: left;
    margin-top: 20px;
    margin-left: 450px;
    color: rgba(13, 19, 33, 0.4);
    
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;

}
.submit-btn{
    height: 55px;
    width:110px;
    border-radius: 8px;

    background: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.1);
}